body{
    display:flex;
    justify-content:center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:20px;
    font-weight: bolder;
    color:orange;
    background-color:crimson;
    background-image: url(images/background.png);
}
nav{
    display:flex;
    justify-content:center;
}
#container{
    box-sizing:border-box;
    width:1018px;
    border:1px solid black;
    padding:7px;
    background-color:rebeccapurple;
}
canvas{
    border: 1px solid black;
    box-sizing:border-box;
}
a:link, a:visited{
    display:inline-block;
    background-color:yellow;
    padding:10px;
    margin:20px;
}