body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: darkgrey;
}
/*this entire thing is just spaghetti code i am so sorry*/
#container{
    background-image: url(images/boom.gif);
    background-color: slategrey;
    border:1px solid black;
    width:1000px;
    margin:auto;
}

h1{
    padding-left: 10px;
}

#nav{
    width:1000px;
    height:50px;
    background-color:darkgray;
    margin:auto;
}

#buttons {
    margin:auto;
    width:500px;
    height:40px;

}

.btn{
    float:left; /*allows buttons to be next to eachother*/
    width:100px;
    height:40px;
    background-color:black;
    color:white;
    text-decoration:none; /*removes underline*/
    font-size:14px;
    font-weight:bold;
    text-align:center; /*horizontal text slignment*/
    line-height:40px;/*vertical text alignment*/
    margin-right:50px;
    margin-top:10px;
}

.btn:hover{
    background-image:url(images/shrek.jpg);
    font-size:0.001px;
}

#content{
    width:985px;
    margin:auto;
    background-color: rgb(105, 105, 105);
    border:1px solid black;
    color:limegreen;
    font-size:30px;
    padding: 15px;
}

#bio{
    float:left;
    background-color: rgb(56, 0, 209);
    margin-right:15px;
    width:550px;
}

h2{
    background-color: rgb(252, 0, 189);
    margin:10px;
    padding:10px;
}

h3{
    background-color: aquamarine;
    margin:10px;
    padding:10px;
}

#hobbies{
    /*position: absolute;*/
    float:right;
    background-color:blueviolet;
    width:400px;
    margin-bottom: 40px;
}

#schools{
    float:left;
    background-color: rgb(56, 0, 209);
    margin-right:15px;
    width:300px;
}

#backgroundimg{
    width: 985px;
    height:400px;
    background-image: url(images/banana.jpg);
}

.questions{
    border: 1px solid black;
    background-color:greenyellow;
    color:rgb(251, 255, 0);
    margin: auto;
}

#footer{
    clear:both;
    margin:auto;
    background-color: rgb(165, 101, 42);
    border:1px solid cornflowerblue;
    font-size:15px;
    color:rgb(255, 0, 51);
    font-weight:bold;
    text-align: center;
}